app = "ucsi"
primary_region = "sin"

[build]
  dockerfile = "Dockerfile"

[env]
  PORT = "8080"
  HOST = "0.0.0.0"
  HEADLESS = "1"

[processes]
  web = "gunicorn -b 0.0.0.0:8080 src.wsgi:app"
  bot = "python -u src/telegram_bot.py"

[[services]]
  processes = ["web"]
  internal_port = 8080
  protocol = "tcp"
  [[services.ports]]
    handlers = ["http"]
    port = 80
  [[services.ports]]
    handlers = ["tls","http"]
    port = 443
